img.logo { margin-left: 70px; }

button.btn {
  background-color: rgb(255,120,0);
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

button.btn {
  background-color: rgb(255,120,0);
}

button.btn { margin-left: 350px; }

button.button { margin-left: 140px; }
img.face { margin-left: 34px; }

img.profile { margin-left: 70px; }

h3.experience { text-indent: 350px; }

h3.education { text-indent: 350px; }

h3.contact { text-indent: 350px; }
hr { width:93%; }         

p.IndustrialDesigner {text-indent:70px;}
p.bio1 {text-indent:15px;}
p.bio2 {text-indent:15px;}
p.bio3 {text-indent:15px;}
p.bio4 {text-indent:15px;}
p.bio5 {text-indent:15px;}
h3.bio6 {text-indent:15px;}
p.bio7 {text-indent:15px;}
p.bio8 {text-indent:15px;}
h3.bio9 {text-indent:15px;}
p.bio10 {text-indent:15px;}
p.bio11 {text-indent:15px;}
p.bio12 {text-indent:15px;}
p.bio13 {text-indent:15px;}
p.bio14 {text-indent:15px;}
p.bio15 {text-indent:15px;}
p.bio16 {text-indent:15px;}
p.bio17 {text-indent:15px;}
h3.bio18 {text-indent:15px;}
p.bio19 {text-indent:15px;}
p.bio20 {text-indent:15px;}
p.bio21 {text-indent:15px;}
p.bio55 {text-indent:15px;}
p.bio100 {text-indent:15px;}
p.bio200 {text-indent:15px;}
p.bio500 {text-indent:15px;}
p.bio700 {text-indent:15px;}
p.bio600 {text-indent:15px;}

img.face {
height:450px;
width200px;

object-fit:cover;}

@media only screen 

and (min-device-width : 320px) 

and (max-device-width : 480px) {

.form-label-top {

width: 250px !important;

font-size: 10px !important;

}

.form-header {

width: 250px !important;

font-size: 14px !important;

}

}

@media (max-width: 960px) { 


hr { width:73%; }                        
}





h1 {color: rgb(255,120,0);}


h1 {font family: Courier;}



p.one {
border-width: 2px;}



h1 {text-indent: 70px;}



p2 { margin-left: 70px; }



button.button {
  background-color: rgb(255,120,0);
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

button.button {
  background-color: rgb(255,120,0);
}


a.linkedin { margin-left: 70px; }

p.one {text-indent:350px;}
p.two {text-indent:350px;}
p.three {text-indent:350px;}
p.four {text-indent:350px;}
p.five {text-indent:350px;}
p.six {text-indent:350px;}
p.six {color: grey;}
p.seven {text-indent:350px;}
p.eight {text-indent:350px;}
p.eight {color: grey;}
p.nine {text-indent:350px;}
p.ten {text-indent:350px;}
p.ten {color: grey;}
p.eleven {text-indent:350px;}
p.twelve {text-indent:350px;}
p.twelve {color: grey;}
p.thirteen {text-indent:350px;}
p.fourteen {text-indent:350px;}
p.fourteen {color: grey;}
p.fifteen {text-indent:350px;}
p.fifteen {color: grey;}

h2 {text-indent: 70px;}



p.phone {text-indent:350px;}


p.email {text-indent:350px;}

p {
  margin-top: 0em ;
  margin-bottom: 0em ;
}

h1 {
  margin-top: 0em ;
  margin-bottom: 0em ;
}

hr {
  border-top: 4px solid rgb(255,120,0);
}

a {
text-decoration:none;
}
a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:black; }
a:focus { text-decoration: none; color:grey; }
a:hover, a:active { text-decoration: none; color:grey }

a.email {
text-decoration:none;
}
a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:black; }
a:focus { text-decoration: none; color:grey; }
a:hover, a:active { text-decoration: none; color:grey }
a {


* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=text], input[type=email], input[type=text] {
  width: 10%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

  comments.php {
  width: 20%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}





</body
