h1 {color: rgb(255,120,0);}


h1 {font family: Courier;}

p.one {
border-width: 2px;}

p { width: 450;}

h1 {text-indent: 70px;}

p.IndustrialDesigner { text-indent: 70px; }

p.somename { text-indent: 665px; }
p.somename2 { text-indent: 665px; }
p.somename3 { text-indent: 665px; }
h3 { text-align: left;}
h3 { text-indent: 665px; }   

logo.PNG { text-indent: 70px; }

p.buttons { text-indent: 70px; }

p { text-indent: 70px; }

p.thanks { text-indent: 665px;}

p {
  margin-top: 0em ;
  margin-bottom: 0em ;
}

h1 {
  margin-top: 0em ;
  margin-bottom: 0em ;
}

hr {
  border-top: 4px solid rgb(255,120,0);
}

a {
text-decoration:none;
}
a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:black; }
a:focus { text-decoration: none; color:grey; }
a:hover, a:active { text-decoration: none; color:grey }

</body>  
</html>   




