p.email { text-indent: 70px; }
img.insta { margin-left: 672px; }
img.linked { margin-left: 16px; }
h3.noname1 { text-indent: 15px; }
p.noname2 { text-indent: 15px; }
p.noname3 { text-indent: 15px; }
p.noname4 { text-indent: 15px; }
p.noname5 { text-indent: 15px; }
p.noname6 { text-indent: 15px; }
p.noname7 { text-indent: 15px; }
h3.noname8 { text-indent: 15px; }
p.noname9 { text-indent: 15px; }

h3.somename0 { text-indent: 350px; }
h3.somename4 { text-indent: 350px; }
p.somename1 { text-indent: 350px; }
p.somename2 { text-indent: 350px; }
p.somename3 { text-indent: 350px; }
h3.somename3 { text-indent: 350px; }
h3 { text-align: left;}
img.logo1 {text-indent:70px;}
h3.special {text-indent:350px;}
img.logo {text-indent:70px;}
hr { width:93%; }   

img {
float: none;
}

a {
float: none;
}


h3.render1 { text-indent: 15px; }
p.render2 { text-indent: 15px; }
p.render3 { text-indent: 15px; }









#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}















@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 75%;
    font-family: 'Roboto', sans-serif;
}










h3.micro1 { text-indent: 15px; }
p.micro2 { text-indent: 15px; }
p.micro3 { text-indent: 15px; }
p.micro4 { text-indent: 15px; }
p.micro5 { text-indent: 15px; }
h3.micro6 { text-indent: 15px; }
p.micro7 { text-indent: 15px; }


h3.toilet1 { text-indent: 15px; }
p.toilet2 { text-indent: 15px; }
p.toilet3 { text-indent: 15px; }
p.toilet4 { text-indent: 15px; }
p.toilet5 { text-indent: 15px; }
p.toilet6 { text-indent: 15px; }
p.toilet7 { text-indent: 15px; }
h3.toilet8 { text-indent: 15px; }
p.toilet9 { text-indent: 15px; }
p.toilet10 { text-indent: 15px; }

h3.kitchen1 { text-indent: 15px; }
p.kitchen2 { text-indent: 15px; }
p.kitchen3 { text-indent: 15px; }
p.kitchen4 { text-indent: 15px; }
p.kitchen5 { text-indent: 15px; }
p.kitchen6 { text-indent: 15px; }
h3.kitchen7 { text-indent: 15px; }
p.kitchen8 { text-indent: 15px; }
p.kitchen9 { text-indent: 15px; }

h3.fca1 { text-indent: 15px; }
p.fca2 { text-indent: 15px; }
p.fca3 { text-indent: 15px; }
p.fca4 { text-indent: 15px; }
p.fca5 { text-indent: 15px; }
p.fca6 { text-indent: 15px; }
p.fca7 { text-indent: 15px; }
h3.fca8 { text-indent: 15px; }
p.fca9 { text-indent: 15px; }


img.instamobile { margin-left: 200px; }
img.linkedmobile { margin-left: 60px; }


p.dog2 { text-indent: 15px; }
p.dog3 { text-indent: 15px; }
p.dog4 { text-indent: 15px; }
p.dog5 { text-indent: 15px; }
p.dog6 { text-indent: 15px; }
p.dog7 { text-indent: 15px; }
h3.dog8 { text-indent: 15px; }
p.dog9 { text-indent: 15px; }
p.dog10 { text-indent: 15px; }
h3.dog11 { text-indent: 15px; }


@media only screen 

and (min-device-width : 320px) 

and (max-device-width : 480px) {


}

@media (max-width: 960px) { 


hr { width:73%; }                        
}


p.number {text-indent: 70px;}

h1 {color: rgb(0,0,0);}


h1 {font family: Courier;}

p.one {
border-width: 2px;}

p { width: 450;}

h1 {text-indent: 70px;}


img.logo { margin-left: 60px; }

a.linkedin { margin-left: 70px; }

h2 {text-indent: 70px;}

p.IndustrialDesigner { text-indent: 70px; }

?devicehtml?










p.buttons { text-indent: 70px; }


p.thanks { text-indent: 350px;}



p {
  margin-top: 0em ;
  margin-bottom: 0em ;
}

h1 {
  margin-top: 0em ;
  margin-bottom: 0em ;
}

hr {
  border-top: 2px solid rgb(0,0,0);
}

a {
text-decoration:none;
}
a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:black; }
a:focus { text-decoration: none; color:grey; }
a:hover, a:active { text-decoration: none; color:grey }


* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=text], input[type=email], input[type=text] {
  width: 10%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

  comments.php {
  width: 20%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button.butt {
  background-color: rgb(255,120,0);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
  opacity: 0.9;
}

button.butt:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}


</body>  
</html>   




