
body {
  background: #87cc77;
  margin: 0;
  font-family: arial;
  width: 100vw;
  height: 100vh;
  animation: bugfix infinite 1s;
  -webkit-animation: bugfix infinite 1s;
}

@keyframes bugfix { from {padding:0;} to {padding:0;}}
@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;}}

#overlay-button {
  position: absolute;
  right: 2em;
  top: 3em;
  padding: 26px 11px;
  z-index: 5;
  cursor: pointer;
  user-select: none;
  span {
      height: 4px;
      width: 35px;
      border-radius: 2px;
      background-color: white;
      position: relative;
      display: block;
      transition: all .2s ease-in-out;
      &:before {
        top: -10px;
        visibility: visible;
      }
      &:after {
        top: 10px;
      }
      &:before, &:after {
          height: 4px;
          width: 35px;
          border-radius: 2px;
          background-color: white;
          position: absolute;
          content: "";
          transition: all .2s ease-in-out;
      }
    }
    &:hover span, &:hover span:before, &:hover span:after {
      background: #333332;
    }
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked ~ #overlay {
  visibility: visible;
}

input[type=checkbox]:checked ~ #overlay-button {
  &:hover span, span{
    background: transparent;
  }
  span {
    &:before {
      transform: rotate(45deg) translate(7px, 7px);
      opacity: 1;
    }
    &:after {
      transform: rotate(-45deg) translate(7px, -7px);
    }
  }
}

#overlay {
  height: 100vh;
  width: 100vw;
  background: #ec6451;
  z-index: 2;
  visibility: hidden;
  position: fixed;
  &.active {
    visibility: visible;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    padding-left: 0;
    list-style-type: none;
    li {
      padding: 1em;
      a {
        color: white;
        text-decoration: none;
        font-size: 1.5em;
        &:hover {
          color: #333332;
        }
      }
    }
  }
}






h2.what1 {text-indent: 0px;}
h2.what2 {text-indent: 0px;}
h2.what3 {text-indent: 0px;}
h2.what4 {text-indent: 0px;}
h2.what5 {text-indent: 70px;}




img.logo2 {text-indent:180px;}

img { max-width: 100%; 
      diplay:block;}


hr {
    width:93%;
}

img {
    -webkit-filter: brightness(100%);
}

@media (max-width: 960px) { 

img.device2 { margin-left: 60px; }
img.kitchen2 { margin-left: 60px; }
img.fca2 { margin-left: 60px; }
img.renderings2 { margin-left: 60px; }
img.toilet2 { margin-left: 60px; }
img.microwave2 { margin-left: 60px; }
img.camera2 { margin-left: 60px; }

hr { width:76%; }                        
}


img.device2 { margin-left: 60px; }
img.kitchen2 { margin-left: 60px; }
img.fca2 { margin-left: 60px; }
img.renders2 { margin-left: 60px; }
img.toilet2 { margin-left: 60px; }
img.toaster2 { margin-left: 60px; }
img.dog2 { margin-left: 60px; }


img:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}

img.logo {
    -webkit-filter: brightness(100%);
}

img.logo:hover {
    -webkit-filter: brightness(100%);
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}

h1 {color: rgb(255,120,0);}



h1 {font family: Courier;}


p.one {
border-width: 2px;}

p { width: 450;}

h1 {text-indent: 70px;}

p { margin-left: 70px; }

img.device { margin-left: 180px; }

img.toilet { margin-left: 180px; }

p2 { margin-left: 70px; }

a.linkedin { margin-left: 70px; }

me2.JPG { margin-left: 70px; }


p.one {text-indent:350px;}
p.two {text-indent:350px;}
p.three {text-indent:350px;}
p.four {text-indent:350px;}
p.five {text-indent:350px;}
p.six {text-indent:350px;}
p.seven {text-indent:350px;}
p.eight {text-indent:350px;}
p.nine {text-indent:350px;}
p.ten {text-indent:350px;}
p.eleven {text-indent:350px;}
p.twelve {text-indent:350px;}
p.thirteen {text-indent:350px;}
p.fourteen {text-indent:350px;}



h3 {text-indent:350px;}

p.phone {text-indent:350px;}



p.email {text-indent:350px;}

p {
  margin-top: 0em ;
  margin-bottom: 0em ;
}

h1 {
  margin-top: 0em ;
  margin-bottom: 0em ;
}

hr {
  border-top: 4px solid rgb(255,120,0);
}

a {
text-decoration:none;
}
a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:black; }
a:focus { text-decoration: none; color:grey; }
a:hover, a:active { text-decoration: none; color:grey }



</div>




</body
