a.home1 {margin-left: 930px;}
a.bio1 {margin-left: 930px;}
a.contact1 {margin-left: 930px;}




img.insta { margin-left: 60px; }
img.linked { margin-left: 16px; }
img.device { margin-left: 0px; }
img.dog { margin-left: 0px; }
img.renderings { margin-right: 50px; }
img.fca { margin-left: 0px; }
img.toilet { margin-left: 50px; }
img.device { margin: 0px 0px 0px 45px  }
img.dog { margin: 0px 0px 0px 50px  }
img.fca { margin: 0px 45px 0px 45px  }
img.kitchen { margin: 0px 20px 0px 0px  }
img.renderings { margin: 0px 60px 0px 50px  }
img.toaster { margin: 0px 0px 0px 20px  }
img.toilet { margin: 0px 40px 0px 0px  }

img {
float: none;
}

a {
float: none;
}


img {
margin: 0px 0px 0px 40px ;
}

img {
  border-radius: 30px;
}

img.dog {
  border-radius: 70px;
}

background-color:{ black;}

h2.what1 {text-indent: 0px;}
h2.what2 {text-indent: 0px;}
h2.what3 {text-indent: 0px;}
h2.what4 {text-indent: 0px;}
h2.what5 {text-indent: 70px;}


img.logo {text-indent:180px;}

img { max-width: 100%; 
      diplay:block;}


hr {
    width:93%;
}

img {
    -webkit-filter: brightness(100%);
}

img.insta {
    -webkit-filter: brightness(100%);
}

img.linked { margin-left: 16px; }

@media (max-width: 960px) { 

img.device2 { margin-left: 50px; }
img.kitchen2 { margin-left: 50px; }
img.fca2 { margin-left: 50px; }
img.renderings2 { margin-left: 50px; }
img.toilet2 { margin-left: 50px; }
img.microwave2 { margin-left: 50px; }
img.camera2 { margin-left: 50px; }

hr { width:76%; }                        
}


img.device2 { margin-left: 60px; }
img.kitchen2 { margin-left: 60px; }
img.fca2 { margin-left: 60px; }
img.renders2 { margin-left: 60px; }
img.toilet2 { margin-left: 60px; }
img.toaster2 { margin-left: 60px; }
img.dog2 { margin-left: 60px; }


img:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}

insta:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}


}img.logo {
    -webkit-filter: brightness(100%);
}

img.logo:hover {
    -webkit-filter: brightness(100%);
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}

h1.Tom {color: rgb(0,0,0);}



h1.Tom {font family: Courier;}



p { width: 450;}

h1.Tom {text-indent: 70px;}

p { margin-left: 70px; }



p2 { margin-left: 70px; }

a.linkedin { margin-left: 70px; }

me2.JPG { margin-left: 70px; }

p.one {text-indent:350px;}
p.two {text-indent:350px;}
p.three {text-indent:350px;}
p.four {text-indent:350px;}
p.five {text-indent:350px;}
p.six {text-indent:350px;}
p.seven {text-indent:350px;}
p.eight {text-indent:350px;}
p.nine {text-indent:350px;}
p.ten {text-indent:350px;}
p.eleven {text-indent:350px;}
p.twelve {text-indent:350px;}
p.thirteen {text-indent:350px;}
p.fourteen {text-indent:350px;}



h3 {text-indent:350px;}

p.phone {text-indent:350px;}



p.email {text-indent:350px;}

p {
  margin-top: 0em ;
  margin-bottom: 0em ;
}

h1.Tom {
  margin-top: 0em ;
  margin-bottom: 0em ;
}

hr {
  border-top: 2px solid rgb(0,0,0);
}

a {
text-decoration:none;
}
a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:black; }
a:focus { text-decoration: none; color:grey; }
a:hover, a:active { text-decoration: none; color:grey }

Insta1.png {
text-decoration:none;
}
a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:black; }
a:focus { text-decoration: none; color:grey; }
a:hover, a:active { text-decoration: none; color:grey }



</div>

img.linked { margin-left: 16px; }
</body
